body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.container h1 {
    font-size: 48px;
    text-transform: uppercase;
}
.container ul {
    margin: 0;
    padding: 0;
}
.container ul li {
    list-style: none;
    float: left;
    width: calc(100% / 6);
    box-sizing: border-box;
}
.container ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}
.container ul li a .fa {
    font-size: 40px;
    transform: .5s;
}
.container ul li:nth-child(1) {
    background: #c32aa3;
}
.container ul li:nth-child(2) {
    background: #1da1f2;
}
.container ul li:nth-child(3) {
    background: #333;
}
.container ul li:nth-child(4) {
    background: #ff0000;
}
.container ul li:nth-child(5) {
    background: #bd081c;
}
.container ul li:nth-child(6) {
    background: #1ed760;
}
@media (max-width: 768px){
    .container {
        width: 100%;
    }
}
@media (max-width: 360px){
    .container {
        margin: 0 auto;
    }
    .container ul li {
        width: calc(100% / 1);
    }
}
